.item-dropdown-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.item-dropdown-container select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
}

.btn-add-item {
  background-color: #2d145f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-add-item:hover {
  background-color: #3c1d7c;
}
